<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Камери</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
    <link href="/administration.css" rel="stylesheet">
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div class="container">
    <div class="text-center">
        <h1>Камери</h1>
    </div>
    <div th:unless="${existsAll}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Камер немає </span>
            <hr>
            <p class="mb-0">
                Створити нову камеру
                <a type="button" class="text-dark"
                   th:href="@{/administration/box/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <table class="table" th:if="${existsAll}">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Назва</th>
            <th scope="col">Актуальність</th>

            <th scope="col">Редагування</th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="box : ${boxes}">
            <th scope="row" th:text="${box.id}">Id</th>
            <td th:text="${box.name}">Назва</td>
            <td>
                <input type="checkbox" th:checked="${box.isActual}" name="isActual"
                       class="form-check-input" disabled>
            </td>
            <td>
                <a class="text-dark" th:href="@{/administration/box/{id}/edit(id=${box.id})}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </td>
        </tr>
        <tr class="table-active" >
            <td colspan="3">Створення нової камери</td>
            <td >
                <a type="button" class="text-dark" th:href="@{/administration/box/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert"
         th:if="${responseStatus} ? ${responseStatus.success} : false">
        <strong>Успішно</strong> !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>