<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Камери</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div class="container">
    <div class="text-center">
        <h3 th:text="'Звіт за ' + ${reportDate}">Звіт за датою</h3>
    </div>
    <table class="table" th:each="reportSubdivision : ${reportSubdivisions}">
        <thead class="thead-dark">
        <tr>
            <th colspan = "4" th:text="${reportSubdivision.subdivision.name}" scope="col">Підрозділ</th>
        </tr>
        <tr>
            <th scope="col">Зміна</th>
            <th scope="col">Видобуто руди</th>
            <th scope="col">Одиниця вимірювання</th>
            <th scope="col">Перегляд по камерах</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reportShift : ${reportSubdivision.reportShifts}">
            <td th:text="${reportShift.shift.name}">Зміна</td>
            <td th:text="${reportShift.value}">Видобуто руди</td>
            <td th:text="${reportSubdivision.unit.name}">Одиниця вимірювання</td>
            <td>
                <a class="text-dark" th:href="@{/report/boxes(reportId=${reportSubdivision.report.id}, reportShiftId=${reportShift.id})}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
                        <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td></td>
        </tr>
        <tr class="table-active">
            <td colspan="3" class="text-center">За день</td>
        </tr>
        <tr class="table-active">
            <td colspan="1">План</td>
            <td colspan="1">Підсумок</td>
            <td colspan="1">Відхилення</td>
        </tr>
        <tr class="table-active">
            <td colspan="1" th:text="${reportSubdivision.planDayValue}">План за день</td>
            <td colspan="1" th:text="${reportSubdivision.subdivisionValue}">Підсумок за день</td>
            <td colspan="1" th:text="${reportSubdivision.deviationDayValue}">Відхилення за день</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr class="table-active">
            <td colspan="3" class="text-center">З початку місяця</td>
        </tr>
        <tr class="table-active">
            <td colspan="1">План</td>
            <td colspan="1">Підсумок</td>
            <td colspan="1">Відхилення</td>
        </tr>
        <tr class="table-active">
            <td colspan="1" th:text="${reportSubdivision.planMonthValue}">План за місяця</td>
            <td colspan="1" th:text="${reportSubdivision.subdivisionMonthValue}">Підсумок за місяця</td>
            <td colspan="1" th:text="${reportSubdivision.deviationMonthValue}">Відхилення за місяця</td>
        </tr>
        </tbody>
        <br>
    </table>

</div>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>