<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редагування звіту по камері</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
    <link href="/administration.css" rel="stylesheet">
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div class="container">
    <div class="text-center">
        <h1>Редагування звіту по камері</h1>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
         th:if="${responseStatus} ? ${responseStatus.error} : false">
        <strong>Помилка! </strong> <span th:text="${responseStatus.message}">Помилка!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form method="post"
          th:action="@{__${#httpServletRequest.requestURI}__(reportId=${param.reportId},reportShiftId=${param.reportShiftId})}"
          th:object="${reportBox}">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Підрозділ</label>
                <input type="text"
                       th:value="${reportShift.reportSubdivision.subdivision.name}"
                       class="form-control" name="subdivision" id="subdivision" disabled>
            </div>
            <div class="col-md-6 mb-3">
                <label>Зміна</label>
                <input type="text" th:value="${reportShift.shift.name}"
                       class="form-control" name="shift" id="shift" disabled>
            </div>
        </div>
        <select class="custom-select" th:field="*{box}" hidden>
            <option th:value="${reportBox.box.id}">
                Камера
            </option>
        </select>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Камера</label>
                <select class="custom-select" disabled>
                    <option th:text="${reportBox.box.name}">
                        Камера
                    </option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationServerBoxValue">Видобуто руди</label>
                <input type="number" class="form-control"
                       th:classappend="${responseStatus} ? (${responseStatus.errors['value']} ? 'is-invalid' : 'is-valid') : ''"
                       id="validationServerBoxValue" required
                       th:field="*{value}"
                >
                <div class="invalid-feedback">
                    Будь ласка введіть коректне значення видобутої руди в камері
                </div>
                <div class="valid-feedback">
                    Правильно!
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Створити</button>
    </form>

</div>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>