<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Камери</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div class="container">
    <div th:unless="${existsUnitReportBoxByReportDate}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Одиниць вимірювання прив'язаних до таблиці Звіту по камерам немає </span>
            <hr>
            <p class="mb-0">
                Створити нову одиницю вимірювання прив'язану до таблиці Звіту по камерам
                <a type="button" class="text-dark"
                   th:href="@{/administration/unit-table/report-box/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h3 th:text="'Звіт за ' + ${reportDate}">
            Звіт за датою
        </h3>
    </div>
    <div th:unless="${existsUnitReportBoxByReportDate} ? ${existsAll} : true">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Звітів по камерам немає </span>
            <hr>
            <p class="mb-0">
                Створити новий звіт по камері
                <a type="button" class="text-dark" data-toggle="modal" data-target="#modalAddBoxValue">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd"
                              d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <table class="table" th:if="${existsAll}">
        <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="${reportShift.reportSubdivision.subdivision.name}">Підрозділ</th>
            <th scope="col" colspan="3" th:text="${reportShift.shift.name}" >Зміна</th>
        </tr>
        <tr>
            <th scope="col">Камера</th>
            <th scope="col">Видобуто руди</th>
            <th scope="col">Одиниця вимірювання</th>

            <th scope="col">Редагування</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reportBox : ${reportBoxes}">
            <td th:text="${reportBox.box.name}">Камера</td>
            <td th:text="${reportBox.value}">Видобуто руди</td>
            <td th:text="${reportBox.unit.name}">Одиниця вимірювання</td>

            <td>
                <a class="text-dark"
                   th:href="@{/report/box/{reportBoxId}/edit(reportBoxId=${reportBox.id}, reportId=${param.reportId}, reportShiftId=${param.reportShiftId}) }">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </td>
        </tr>
        <tr class="table-active">
            <td>Створення нових даних по камері</td>
            <td colspan="3">
                <a type="button" class="text-dark" data-toggle="modal" data-target="#modalAddBoxValue">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd"
                              d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert"
         th:if="${responseStatus} ? ${responseStatus.success} : false">
        <strong>Успішно</strong> !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="modalAddBoxValue" tabindex="-1"
     aria-labelledby="modalAddBoxValueLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddBoxValueLabel">Створення нових даних по камері</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${responseStatus} ? ${responseStatus.error} : false">
                    <strong>Помилка! </strong> <span th:text="${responseStatus.message}">Помилка!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post"
                      th:action="@{ /report/box/create ( reportId=${param.reportId}, reportShiftId=${param.reportShiftId} ) }">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Підрозділ</label>
                            <input type="text"
                                   th:value="${reportShift.reportSubdivision.subdivision.name}"
                                   class="form-control" name="subdivision" id="subdivision" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Зміна</label>
                            <input type="text" th:value="${reportShift.shift.name}"
                                   class="form-control" name="shift" id="shift" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationServerBox">Камера</label>
                            <select class="custom-select"
                                    th:classappend="${responseStatus} ? (${responseStatus.errors['boxId']} ? 'is-invalid' : 'is-valid') : ''"
                                    id="validationServerBox" name="boxId" required
                            >
                                <option th:each="subdivisionBox : ${reportShift.reportSubdivision.subdivision.subdivisionBoxes}"
                                        th:text="${subdivisionBox.box.name}" th:value="${subdivisionBox.box.id}">
                                    Камера
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                Будь ласка виберіть камеру в якій дані видобутої руди незаповнені
                            </div>
                            <div class="valid-feedback">
                                Правильно!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationServerBoxValue">Видобуто руди</label>
                            <input type="number" class="form-control"
                                   th:classappend="${responseStatus} ? (${responseStatus.errors['boxValue']} ? 'is-invalid' : 'is-valid') : ''"
                                   name="boxValue" id="validationServerBoxValue" required
                                   th:value="${boxValue}"
                            >
                            <div class="invalid-feedback">
                                Будь ласка введіть коректне значення видобутої руди в камері
                            </div>
                            <div class="valid-feedback">
                                Правильно!
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Створити</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<th:block th:include="blocks/libraries :: script"></th:block>

<th:block layout:fragment="script"
          th:if="${responseStatus}  ? ${responseStatus.errors['boxId']} or ${responseStatus.errors['boxValue']} : false">
    <script>
        $(window).on('load', function (){
            $('#modalAddBoxValue').modal('show');
        });
    </script>
</th:block>
</body>
</html>