<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Створення плану</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
    <link href="/administration.css" rel="stylesheet">
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div th:if="${rs} ? ${rs.errors['dateYearMonthNotification']} : false">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Попередження!</strong>
        <span> Одиниць вимірювання прив'язаних до таблиці Звіту за цією датою немає </span>
        <hr>
        <p class="mb-0">
            Створити нову одиницю вимірювання прив'язану до таблиці Звіту
            <a type="button" class="text-dark"
               th:href="@{/administration/unit-table/report-subdivision/create}">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                    <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </a>
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h1>Створення плану</h1>
    </div>
    <form method="post" th:object="${planDto}">
        <div class="frorm-group row">
            <div class="col-md-8 pt-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${rs} ? ${rs.error} : false"
                >
                    <strong>Помилка! </strong> <span th:text="${rs.message}">Помилка!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div th:hidden="${param.step} ? ${param.step.contains('2')} : false">
            <div class="form-group row my-0">
                <div class="col-md-4 text-center">
                    <strong>Крок 1</strong>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="validationServerDate">Дата</label>
                    <input type="month" th:field="*{dateYearMonth}" class="form-control"
                           th:classappend="${rs} ? (${rs.errors['dateYearMonth']} ? 'is-invalid' : 'is-valid') : ''"
                           id="validationServerDate" autocomplete="off" required>
                    <div class="invalid-feedback">
                        Будь ласка виберіть дату в якій план видобутку руди незаповнений
                    </div>
                    <div class="valid-feedback">
                        Правильно!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="validationServerSubdivision">Підрозділ</label>
                    <select th:field="*{subdivisionId}" class="custom-select"
                            th:classappend="${rs} ? (${rs.errors['subdivision']} ? 'is-invalid' : 'is-valid') : ''"
                            id="validationServerSubdivision" required>
                        <option th:each="s : ${subdivisions}" th:value="${s.id}" th:text="${s.name}">
                            Підрозділи
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        Будь ласка виберіть підрозділ, яка ще незаповнена
                    </div>
                    <div class="valid-feedback">
                        Правильно!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="validationServerDayValuePerMonth">План на день за місяць</label>
                    <input type="number" th:field="*{dayValueForMonth}" class="form-control"
                           th:classappend="${rs} ? (${rs.errors['dayValuePerMonth']} ? 'is-invalid' : 'is-valid') : ''"
                           id="validationServerDayValuePerMonth" required>
                    <small class="form-text text-muted">
                        Значення плану на кожен день даного місяця.
                        <br>
                        Якщо <strong>0</strong>, то заповнення по днях.
                    </small>
                    <div class="invalid-feedback">
                        Будь ласка введіть коректне значення плану видобутку руди
                    </div>
                    <div class="valid-feedback">
                        Правильно!
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${param.step} ? ${param.step.contains('2')} : false">
            <div class="form-group row my-0">
                <div class="col-md-4 text-center">
                    <strong>Крок 2</strong>
                </div>
            </div>
            <div class="form-group row my-0">
                <div class="col-md-2">
                    <label>Дата</label>
                </div>
                <div class="col-md-4">
                    <label>План на день</label>
                </div>
            </div>
            <div class="form-group row" th:each="plan, itemStat : *{listPlan}">
                <input type="text" th:field="*{listPlan[__${itemStat.index}__].id}" hidden/>
                <input type="date" th:field="*{listPlan[__${itemStat.index}__].date}" hidden/>
                <input type="text" th:field="*{listPlan[__${itemStat.index}__].unit}" hidden/>
                <select th:field="*{listPlan[__${itemStat.index}__].subdivision}" hidden>
                    <option th:value="${plan.subdivision.id}"></option>
                </select>
                <div class="col-md-2">
                    <input type="date" th:value="${plan.date}" class="form-control" disabled/>
                </div>
                <div class="col-md-4">
                    <input type="number" th:field="*{listPlan[__${itemStat.index}__].dayValue}"
                           th:classappend="${rs} ? (${rs.errors['listPlan['+__${itemStat.index}__+'].dayValue']} ? 'is-invalid' : 'is-valid') : ''"
                           class="form-control"/>
                    <div class="invalid-feedback">
                        Будь ласка введіть коректне значення плану на день видобутку руди
                    </div>
                    <div class="valid-feedback">
                        Правильно!
                    </div>
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-success">Створити</button>
    </form>

</div>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>