<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редагування плану видобутку руди</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
    <link href="/administration.css" rel="stylesheet">
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div class="container">
    <div class="text-center">
        <h1>Редагування плану видобутку руди</h1>
    </div>
    <form method="post"
          th:action="@{/administration/plan/{id}/edit(id=${plan.id})}"
          th:object="${plan}">
        <div class="frorm-group row">
            <div class="col-md-8 pt-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${rs} ? ${rs.error} : false">
                    <strong>Помилка! </strong> <span th:text="${rs.message}">Помилка!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <input type="text" th:field="*{id}" hidden>
        <input type="text" th:field="*{date}" hidden>
        <input type="text" th:field="*{unit}" hidden>
        <select th:field="*{subdivision}" hidden>
            <option th:value="${plan.subdivision.id}"></option>
        </select>
        <div class="form-group row">
            <div class="col-md-4">
                <label>Дата</label>
                <input type="date" th:value="${plan.date}" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label>Підрозділ</label>
                <select th:field="*{subdivision}" class="custom-select" disabled>
                    <option th:value="${plan.subdivision.id}" th:text="${plan.subdivision.name}">
                        Підрозділ
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="validationServerDayValue">План на день</label>
                <input type="number" th:field="*{dayValue}" class="form-control"
                       th:classappend="${rs} ? (${rs.errors['dayValue']} ? 'is-invalid' : 'is-valid') : ''"
                       id="validationServerDayValue" required>
                <div class="invalid-feedback">
                    Будь ласка введіть коректне значення плану на день
                </div>
                <div class="valid-feedback">
                    Правильно!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label>Одиниця вимірювання</label>
                <input type="text" th:value="${plan.unit.name}" class="form-control" disabled>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Редагування</button>
    </form>

</div>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>