<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ССтворення зв'язку між підрозділом і камерою</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
    <link href="/administration.css" rel="stylesheet">
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div class="container">
    <div class="text-center">
        <h1>Створення зв'язку між підрозділом і камерою</h1>
    </div>
    <form method="post" th:action="@{/administration/subdivision-box/create}" th:object="${subdivisionBox}">
        <div class="form-group row">
            <div class="col-md-4 pt-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${rs} ? ${rs.error} : false"
                >
                    <strong>Помилка! </strong> <span th:text="${rs.message}">Помилка!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="validationServerSubdivision">Підрозділ</label>
                <select th:field="*{subdivision}" class="custom-select"
                        th:classappend="${rs} ? (${rs.errors['subdivision']} ? 'is-invalid' : 'is-valid') : ''"
                        id="validationServerSubdivision" required>
                    <option th:each="s : ${subdivisions}" th:value="${s.id}" th:text="${s.name}">
                        Підрозділи
                    </option>
                </select>
                <div class="invalid-feedback">
                    Будь ласка виберіть підрозділ, яка ще незаповнена
                </div>
                <div class="valid-feedback">
                    Правильно!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="validationServerBox">Камера</label>
                <select th:field="*{box}" class="custom-select"
                        th:classappend="${rs} ? (${rs.errors['box']} ? 'is-invalid' : 'is-valid') : ''"
                        id="validationServerBox" required>
                    <option th:each="b : ${boxes}" th:value="${b.id}" th:text="${b.name}">
                        Підрозділи
                    </option>
                </select>
                <div class="invalid-feedback">
                    Будь ласка виберіть камеру, яка ще незаповнена
                </div>
                <div class="valid-feedback">
                    Правильно!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="isActual">Актуальність</label>
                <input type="checkbox" th:field="*{isActual}" class="" id="isActual">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Створити</button>
    </form>

</div>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>