<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Створення нової одиниці вимірування для Звіту по камерам</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
    <link href="/administration.css" rel="stylesheet">
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div class="container">
    <div class="text-center">
        <h1>Створення нової одиниці вимірування для Звіту по камерам</h1>
    </div>
    <form method="post"
          th:action="@{/administration/unit-table/report-box/create}"
          th:object="${unitReportBox}">
        <div class="frorm-group row">
            <div class="col-md-8 pt-3">
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${rs} ? ${rs.error} : false"
                >
                    <strong>Помилка! </strong> <span th:text="${rs.message}">Помилка!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="validationServerDate">Дата</label>
                <input type="date" th:field="*{date}" class="form-control"
                       th:classappend="${rs} ? (${rs.errors['date']} ? 'is-invalid' : 'is-valid') : ''"
                       id="validationServerDate" autocomplete="off" required>
                <div class="invalid-feedback">
                    Будь ласка виберіть дату в якій одиниця вимірування незаповнені
                </div>
                <div class="valid-feedback">
                    Правильно!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="validationServerFromUnit">Одиниця вимірювання</label>
                <select th:field="*{unit}" class="custom-select"
                        th:classappend="${rs} ? (${rs.errors['unit']} ? 'is-invalid' : 'is-valid') : ''"
                        id="validationServerFromUnit"  required>
                    <option th:each="unit : ${units}" th:value="${unit.id}" th:text="${unit.name}">
                        Одиниці вимірювання
                    </option>
                </select>
                <div class="invalid-feedback">
                    Будь ласка виберіть одиницю вимірювання, яка ще незаповнена
                </div>
                <div class="valid-feedback">
                    Правильно!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="isActual">Актуальність</label>
                <input type="checkbox" th:field="*{isActual}" class="" id="isActual">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Створити</button>
    </form>

</div>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>