<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
    <link rel="stylesheet" th:href="@{/signin.css}">
</head>
<body class="text-center">
<form class="form-signin">
    <img class="mb-4" src="zzrk.png" alt="" width="72" height="72" th:src="@{zzrk.png}"/>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputLogin" class="sr-only">Login address</label>
    <input type="login" id="inputLogin" class="form-control" placeholder="Login address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
<!--    <div class="checkbox mb-3">-->
<!--        <label>-->
<!--            <input type="checkbox" value="remember-me"> Remember me-->
<!--        </label>-->
<!--    </div>-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">©2020</p>
</form>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>