<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
</head>
<body>
<header th:replace="blocks/header :: header"></header>

<h1>Text</h1>

<form method="post">
    <div th:text="${param.step}"></div>
    <input type="month" name="date">
    <button type="submit" class="btn btn-success">Створити</button>
</form>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>