<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Звіти</title>
    <th:block th:include="blocks/libraries :: link"></th:block>
</head>
<body>

<header th:replace="blocks/header :: header"></header>

<div class="container">
    <div th:unless="${existsSubdivisionAll}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Підрозділів немає </span>
            <hr>
            <p class="mb-0">
                Створити новий підрозділ
                <a type="button" class="text-dark"
                   th:href="@{/administration/subdivision/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:unless="${existsBoxAll}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Камер немає </span>
            <hr>
            <p class="mb-0">
                Створити нову камеру
                <a type="button" class="text-dark"
                   th:href="@{/administration/box/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:unless="${existsSubdivisionAll and existsBoxAll} ? ${existsSubdivisionBoxAll} : true">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Зв'язку між підрозділами і камерами немає </span>
            <hr>
            <p class="mb-0">
                Створити новий зв'язок між підрозділом і камерою
                <a type="button" class="text-dark"
                   th:href="@{/administration/subdivision-box/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:unless="${existsShiftAll}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Змін немає </span>
            <hr>
            <p class="mb-0">
                Створити нову зміну
                <a type="button" class="text-dark"
                   th:href="@{/administration/shift/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:unless="${existsUnitAll}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Одиниць вимірювання немає </span>
            <hr>
            <p class="mb-0">
                Створити нову одиницю вимірювання
                <a type="button" class="text-dark"
                   th:href="@{/administration/unit/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:unless="${existsUnitAll} ? ${existsUnitConvertAll} : true">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Коефіцієнтів конвертації одиниць вимірювання немає </span>
            <hr>
            <p class="mb-0">
                Створити новий коефіцієнт конвертації одиниць вимірювання
                <a type="button" class="text-dark"
                   th:href="@{/administration/unit-convert/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:unless="${existsUnitAll} ? ${existsUnitReportSubdivisionAll} : true">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Одиниць вимірювання прив'язаних до таблиці Звіту по підрозділах немає </span>
            <hr>
            <p class="mb-0">
                Створити нову одиницю вимірювання прив'язану до таблиці Звіту по підрозділах
                <a type="button" class="text-dark"
                   th:href="@{/administration/unit-table/report-subdivision/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:unless="${existsUnitReportSubdivisionAll and existsSubdivisionAll and existsUnitAll} ? ${existsPlanAll} : true">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Плану немає </span>
            <hr>
            <p class="mb-0">
                Створити новий план видобутку руди
                <a type="button" class="text-dark"
                   th:href="@{/administration/plan/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div th:if="${responseStatus} ? ${responseStatus.errors['unitReportSubdivisionNotification']} : false">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Одиниць вимірювання прив'язаних до таблиці Звіту за цією датою немає </span>
            <hr>
            <p class="mb-0">
                Створити нову одиницю вимірювання прив'язану до таблиці Звіту
                <a type="button" class="text-dark"
                   th:href="@{/administration/unit-table/report-subdivision/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:if="${responseStatus} ? ${responseStatus.errors['planNotification']} : false">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Плану за цією датою немає </span>
            <hr>
            <p class="mb-0">
                Створити новий план видобутку руди
                <a type="button" class="text-dark"
                   th:href="@{/administration/plan/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


<div class="container">
    <div class="text-center">
        <h1>Звіти</h1>
    </div>
    <div th:unless="(${existsSubdivisionAll} and ${existsBoxAll} and ${existsSubdivisionBoxAll} and ${existsShiftAll}
    and ${existsUnitAll} and ${existsUnitConvertAll} and  ${existsUnitReportSubdivisionAll} and ${existsPlanAll})
    ? ${existsAll} : true">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Попередження!</strong>
            <span> Звітів немає </span>
            <hr>
            <p class="mb-0">
                Створити новий звіт
                <a type="button" class="text-dark"
                   th:href="@{/report/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <table class="table" th:if="${existsAll}">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Дата звіту</th>
            <th scope="col">Дата створення</th>
            <th scope="col">Користувач</th>

            <th scope="col">Посилання на звіт за датою</th>
        </tr>
        </thead>
        <tbody th:each="report : ${reports}">
        <tr>
            <td th:text="${report.date}">Дата звіту</td>
            <td th:text="${report.createdAt}">Дата створення</td>
            <td th:text="${report.user.fullName}">Користувач</td>

            <td>
                <a class="text-dark" th:href="@{/report/subdivisions/(reportId=${report.id})}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
                        <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
        <tr class="table-active">
            <td>Створення нових даних по камері</td>
            <td colspan="3">
                <a type="button" class="text-dark"
                    th:href="@{/report/create}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd"
                              d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </td>
        </tr>
    </table>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert"
         th:if="${responseStatus} ? ${responseStatus.success} : false">
        <strong>Успішно</strong> !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<th:block th:include="blocks/libraries :: script"></th:block>

</body>
</html>